body {
  font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
  background-color: rgb(255, 224, 183);
  margin: 1vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 3vw;
  text-decoration: underline;
  margin-bottom: 2vw;
  text-align: left;
  
}

#quote-box {
  width: 90vw;
  border: 1.5pt solid black;
  border-radius: 15pt;
  margin: 1vw auto;
  background-color: rgb(127, 227, 255);
  padding: 2vw;
}

#quote-text {
  font-size: 2.5vw;
  text-align: center;
  margin-bottom: 1vw;
}
@media (max-width: 600px) {
  #quote-text {
    font-size: 16px;
    /* Set a responsive minimum font size */
  }
}

#author {
  font-size: 1.5vw;
  text-align: right;
  font-style: italic;
}

#get-quote {
  font-family: Arial, sans-serif;
  font-size: 1.5vw;
  border: 1px solid black;
  border-radius: 5pt;
  width: 10vw;
  height: 3vw;
  margin: 2vw auto;
  cursor: pointer;
  transition: 0.3s;
  /* to prevent the text in the button from overflowing when the screen size is reduced*/
  min-width: 40px;
  min-height: 15px;
}

#get-quote:hover {
  background-color: rgb(127, 227, 255);
}